<p>todo</p>
<!-- TS TABS -->
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#ts_factory_injection" aria-controls="home" role="tab" data-toggle="tab">
        TypeScript
      </a>
    </li>
    <li role="presentation">
      <a href="#js_factory_injection" aria-controls="profile" role="tab" data-toggle="tab">
        JavaScript
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="ts_factory_injection">
      <p>soldier.ts</p>
<pre><code>// todo factory injection ts
</code></pre>
      <p>inversify.config.ts</p>
<pre><code>// todo factory injection ts
</code></pre>
    </div>
    <div role="tabpanel" class="tab-pane" id="js_factory_injection">
      <p>soldier.ts</p>
<pre><code>// todo factory injection js
</code></pre>
      <p>inversify.config.ts</p>
<pre><code>// todo factory injection js
</code></pre>
    </div>
  </div>
</div>
<!-- END TS TABS-->
