<p>
  InversifyJS was designed with many popular JavaScript frameworks in mind.
  We are working on examples of integration with many popular frameworks,
  which are available in the
  <a href="http://github.com/inversify/Inversify-code-samples">
    official examples repository
  </a>.
</p>
<div class="row-fluid framewroks">
  <div class="col-md-3">
    <div class="well">
      <img src="./img/coming-soon-ribbon.png" class="ribbon"/>
      <img src="./img/angular.png" />
      <p>
        Learn how to integrate InversifyJS with Angular applications.
      </p>
      <a class="btn btn-default" disabled="disabled" href="http://inversify.io/inversify-code-samples/angular">
        Angular Example
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well">
      <img src="./img/coming-soon-ribbon.png" class="ribbon"/>
      <img src="./img/ember.png" />
      <p>
        Learn how to integrate InversifyJS with Ember applications.
      </p>
      <a class="btn btn-default" disabled="disabled" href="http://inversify.io/inversify-code-samples/ember">Ember Example</a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well">
      <img src="./img/marionette.png" />
      <p>
        Learn how to integrate InversifyJS with Marionette applications.
      </p>
      <a class="btn btn-primary" href="http://inversify.io/inversify-code-samples/marionette">
        Marionette Example
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well">
      <img src="./img/coming-soon-ribbon.png" class="ribbon"/>
      <img src="./img/node.png" />
      <p>
        Learn how to integrate InversifyJS with Node applications.
      </p>
      <a class="btn btn-default" disabled="disabled" href="http://inversify.io/inversify-code-samples/express">
        Node Example
      </a>
    </div>
  </div>
</div>
