<p>todo</p>
<!-- TS TABS -->
<div role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#ts_value_injection" aria-controls="home" role="tab" data-toggle="tab">
        TypeScript
      </a>
    </li>
    <li role="presentation">
      <a href="#js_value_injection" aria-controls="profile" role="tab" data-toggle="tab">
        JavaScript
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="ts_value_injection">
      <p>soldier.ts</p>
<pre><code>/// &lt;reference path=&quot;../typings/inversify/inversify.d.ts&quot; /&gt;
/// &lt;reference path=&quot;./interfaces.d.ts&quot;/&gt;

import { inject, named } from "inversify";

@inject("IConnectionString")
class SoldierRepository {

  private _conn : string;

  constructor(
    conn: IConnectionString
  ) {

    this._conn = conn;
  }

}
</code></pre>
      <p>inversify.config.ts</p>
<pre><code>/// &lt;reference path=&quot;../typings/inversify/inversify.d.ts&quot; /&gt;
/// &lt;reference path=&quot;./interfaces.d.ts&quot;/&gt;

import { Kernel, Binding } from "inversify";

var kernel = new Kernel();
kernel.bind(new Binding<IConnectionString>("IConnectionString").toValue("mongodb://127.0.0.1:27017"));
</code></pre>
    </div>
    <div role="tabpanel" class="tab-pane" id="js_value_injection">
      <p>soldier.ts</p>
<pre><code>// todo value injection js
</code></pre>
      <p>inversify.config.ts</p>
<pre><code>// todo value injection js
</code></pre>
    </div>
  </div>
</div>
<!-- END TS TABS-->
